@import 'variables.scss';

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

}

.ContenedorPrincipal {
    overflow-y:scroll; 
    background-image: $fondo-imagen;
    &::-webkit-scrollbar {
        display: none;
    }
}
.CajaPrincipal {
    background: $fondo-gradiente ;
    position: relative;
    opacity: $opacidad;
    margin: 2% 10%;
    padding: 3%;
    width: 69%;
    height: 90%;
    text-align: justify;
}
.CajaSecundaria {
    z-index: 15%;
    opacity: 90;
    width: 87%;
    height: 50%;
    padding: 12%;
    position: relative;
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: $fondo-pagina;
     img {
         width: 10%;
         border-radius: 15% ;
         margin: 3%;
         .dos {
                background-color:violet;
         }
     };
     
}